
<div class = "jumbotron container">
  <!-- Button to toggle compact view -->
  <button id = "viewToggleButton" type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.toggleCompact()">Toggle View</button>
  <div class = "page-header"><h1>Which candidate brings the most joy?</h1></div>

  <!-- Show if compact is toggeled -->
  <div ng-if = "$ctrl.compact" id = "compact">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-liveResults-tab" data-toggle="pill" href="#pills-liveResults" role="tab" aria-controls="pills-home" aria-selected="true">Live Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-vote-tab" data-toggle="pill" href="#pills-vote" role="tab" aria-controls="pills-vote" aria-selected="false">Cast Your Votes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-manage-tab" data-toggle="pill" href="#pills-manage" role="tab" aria-controls="pills-manage" aria-selected="false">Manage Candidates</a>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-liveResults" role="tabpanel" aria-labelledby="pills-liveResults-tab">
        <itm-results
          candidates="$ctrl.candidates"
          vc="$ctrl.totalVotes">
        </itm-results>
      </div>

      <div class="tab-pane fade" id="pills-vote" role="tabpanel" aria-labelledby="pills-vote-tab">
        <itm-vote
          candidates="$ctrl.candidates"
          on-vote="$ctrl.onVote($candidate)">
        </itm-vote>
      </div>

      <div class="tab-pane fade" id="pills-manage" role="tabpanel" aria-labelledby="pills-manage-tab">
        <itm-management
          candidates="$ctrl.candidates"
          on-add="$ctrl.onAddCandidate($candidate)"
          on-remove="$ctrl.onRemoveCandidate($candidate)"
          on-check="$ctrl.checkDuplicateName($candidate)">
        </itm-management>
      </div>
    </div>
  </div>

  <!-- Normal view, show when compact is not toggeled-->
  <div ng-if = "!$ctrl.compact" id = "normal">
    <itm-results
      candidates="$ctrl.candidates"
      vc="$ctrl.totalVotes">
    </itm-results>

    <itm-vote
      candidates="$ctrl.candidates"
      on-vote="$ctrl.onVote($candidate)">
    </itm-vote>

    <!-- pass in function that checks for duplicate names -->
    <itm-management
      candidates="$ctrl.candidates"
      on-add="$ctrl.onAddCandidate($candidate)"
      on-remove="$ctrl.onRemoveCandidate($candidate)"
      on-check="$ctrl.checkDuplicateName($candidate)">
    </itm-management>
  </div>
</div>
