<h2 class = "tab-heading">Cast your vote!</h2>
<!-- Buttons that allow for easy voting -->
<div class = "vote-buttons-group">
  <button type="button"
          class="vote-buttons btn btn-outline-success"
          ng-repeat="candidate in $ctrl.candidates"
          ng-click="$ctrl.onVote({ $candidate: candidate })">
    <span ng-bind="candidate.name"></span>
  </button>
</div>

<!-- Cards to show candidate description and vote button -->
<div class = "candidate-cards-group">
  <div ng-repeat="candidate in $ctrl.candidates" class=" candidate-card card .mx-auto mb-3" >
    <div class="card-body container">
      <h5 class="card-title">{{candidate.name}}</h5>
      <p class="candidate-card-description card-text ">{{candidate.description}}</p>
      <button type="button"
      class="btn btn-outline-success"
      ng-click="$ctrl.onVote({ $candidate: candidate })">Vote For {{candidate.name}}</button>
    </div>
  </div>
</div>
