<h2 class="tab-heading">Live Results</h2>

<table class="results-table table table-sm table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Candidate</th>
      <th scope="col">Votes</th>
      <th scope="col">Percentage</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="candidate in $ctrl.candidates | orderBy:'-votes'">
      <th ng-bind="candidate.name"></th>
      <td ng-bind="candidate.votes"></td>
      <!-- vc contains the total votes casted so far -->
      <td>{{100*candidate.votes/$ctrl.vc | number : 0}}%</td>
    </tr>
  </tbody>
</table>

<!-- Chart to visualize results, component created with google charts API -->
<resultschart
  class="results-chart"
  data="$ctrl.candidates"
  ng-init="console.log($ctrl.candidates);"
></resultschart>