<h2 class="tab-heading">Manage Candidates</h2>

<h3>Add New Candidate</h3>

<!-- Form for adding a new candidate -->
<form
  name="candidateForm"
  class="form-group container"
  ng-submit="$ctrl.submitCandidate($ctrl.newCandidate)"
  novalidate="novalidate"
>

  <label for="name">Candidate name</label>
  <input
    name="candidateName"
    type="text"
    class="form-control"
    id="name"
    placeholder="Please Enter New Candidate's name"
    ng-model="$ctrl.newCandidate.name"
    required="required"
  ></input>
  <!-- Show error message when field is touched but no name was entered -->
  <span ng-show="candidateForm.candidateName.$touched && candidateForm.candidateName.$invalid">
    <p class="invalid-text">A name is required.</p>
  </span>
  <!-- Checks whether name already exists in our set of candidate names. If it does, show error message -->
  <span ng-show="$ctrl.nameCheck($ctrl.newCandidate)">
    <p class="invalid-text">Name already exists, please add a unique name</p>
  </span>

  <!-- Allow a description to be added to a specific candidate. Description must hace length <= 140 -->
  <label for="description">Description</label>
  <input
    name="candidateDescription"
    type="text"
    class="form-control input-lg"
    id="description"
    rows="2"
    ng-maxlength="140"
    placeholder="Enter new candidate's description"
    ng-model="$ctrl.newCandidate.description"
  ></input>
  <br>
  <!-- Show error message if description is too long -->
  <span ng-show="candidateForm.candidateDescription.$invalid">
    <p class="invalid-text">Description too long</p>
  </span>

  <!-- Hide 'Add' button if any conditions are not met -->
  <div ng-if="!$ctrl.nameCheck($ctrl.newCandidate) && candidateForm.candidateName.$valid && candidateForm.candidateDescription.$valid">
    <button
      class="btn btn-primary btn-block"
      type="submit"
    >Add</button>
  </div>
</form>

<!-- Allow users to delete candidates. -->
<h3>Remove Candidate</h3>
<ul class="remove-list list-group">
  <li
    class="list-group-item"
    ng-repeat="candidate in $ctrl.candidates"
  >
    <span ng-bind="candidate.name"></span>
    <!-- Badge to indicate candidate's existing votes -->
    <span class="badge badge-warning">
      Number of votes : {{candidate.votes}}
    </span>

    <!-- delete button 'x' -->
    <button
      class="btn btn-danger btn-sm delete-button"
      type="button"
      ng-click="$ctrl.removeCandidate(candidate)"
      data-toggle="tooltip"
      data-placement="left"
      title="Delete {{candidate.name}}"
    >x</button>
  </li>
</ul>