/* Custom stylesheet for Candidate.App */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Kodchasan', sans-serif;
}

p, div {
  font-family: 'Open Sans', sans-serif;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
 }


html {
    position: relative
    width: 100%;
    height: auto;
    min-height: 35rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("./background4.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("./background4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.jumbotron{
  background:rgba(255,255,255,0.85);
}

.candidate-cards-group{
    text-align: center;
    float: none; /* Added */
    margin-bottom: 10px; /* Added */


}
.candidate-card-description{

  border-color: rgb(92,184,92);
  border-style: groove;
  border-width: 2px;
  color :black;
  border-radius: 10px;
  padding : 1em;
  text-align: left;
  margin: : 0.25em;
  width:auto;
  height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.candidate-card{
  border-radius: 2em;
  margin: 1em;
  padding: 0.5em;
  align-items: center;
  width: 18rem;
  display : inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.tab-heading{
  text-align: center;
  border-radius: 50px;
  padding: 0.25em;
  margin : 30px;
  border-color:black;
  border-style: dashed;
  background-color: white;
}

form {
  margin: 30px;
  padding: 2em;
  border-radius: 20px;
  background-color:white;
}
.invalid-text{
  color: red;
}
input.ng-invalid {
    border-color: red;
}

input.ng-untouched {
    border-color: inherit;
}

.vote-buttons-group{
  text-align: center;
  padding: 1em;
  padding-top: 0;
  margin: 0 auto;
}
.vote-buttons{
  text-align: center;
  margin: 0.25em;
}

#viewToggleButton{
  top: 0px;
right: 0px;
  float: right;
  margin-right: 5em;
}
.results-chart{
  width:100%;
  border-color: black;
  margin-bottom: 30px;
}

.remove-list{
  width: 75%;
  margin: 0 auto;
  padding: 30px;
}
.results-table{
  border-radius: 10px;
}

.delete-button{
  float : right;
}
